@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

body {
  font-family: "Permanent Marker", cursive;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "Permanent Marker", cursive;
}

p, li {
  font-family: Roboto, sans-serif;
  font-size: 1.75rem;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar-dark {
  background-color: #ed2024;
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
}

.axe-small:hover {
  transition: 2s;
  transform: rotate(450deg);
}
