@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

body {
  font-family: "Permanent Marker", cursive;
}

.navbar-dark, .nav-link {
  background-color: #ed2024;
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
}

h1, h2, h3 {
  font-family: "Permanent Marker", cursive;
}

p, li {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.axe-small:hover {
  transition: 1s;
  transform: rotate(450deg);
}

.bigaxe {
  animation: spin 1s linear 1;
}

@media only screen and (max-width : 767px) {
  .bigaxe {
  display: none;
  }
  }

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(720deg);
  }
}

.homecard:hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 5px 10px 18px #160101;
}

.rankcard {
  box-shadow: 10px 10px 20px #160101;
}

.rankcardtext {
  text-align: justify;
}